*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/.name
/.idea/codeStyles/
.DS_Store
/build
/app/release
/captures
.externalNativeBuild
.cxx
/buildSrc/build/
/data/build/
/domain/build/
/core/build/
/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat
